<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  <link rel="stylesheet" href="https://wumss.github.io/rabbit/rabbit.min.css"/>
  <link rel="stylesheet" href="/css/judoc.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/infra/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/infra/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/infra/favicon-16x16.png">
  <link rel="manifest" href="/assets/infra/site.webmanifest">
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="http://grandriverchineseschool.com/">GRCS Site</a></li>
        <li><a href="https://wafy.me/">Fengyang’s Personal Site</a></li>
      </ul>
    </nav>
  </header>

  <main>
<!-- Content appended here -->
